<div class="banner-right">
  <div class="row1">
    <div class="pressure"> Temperature:
      <span id="pressure"> 40</span>
    </div>
    <div class="humidity"> Pressure:
      <span id="humidity"> 80</span>
    </div>
    <div class="wind"> Wind:
      <span id="wind"> 27 </span>
    </div>
  </div>
  <div class="row2">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Temperature</button>
      <button type="button" class="btn btn-primary">Pressure</button>
      <button type="button" class="btn btn-primary">Wind</button>
    </div>
  </div>
</div>